{{- 'photo-collage.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign section_heading = section.settings.heading	
	assign section_description = section.settings.description	

    for block in section.blocks
        case block.type
            when 'collage_products'
            assign collage_product = block.settings.product         
        endcase
    endfor
-%}

{%- style -%}
    .thb-product-detail.product .product-thumbnail img{
        object-fit: inherit !important;
    }
{%- endstyle -%}

{% if collage_product != blank %}
    <div class="photo-collage-section">
        <div class="row">
            <div class="small-12 column">
                {% assign product_url = canonical_url | split : '/products/' | last %}
                {% render 'section-header', section_heading: section_heading, section_description: section_description %}
                <ul id="product-grid" data-id="{{ section.id }}" class="collage-products-wrap products collection row small-up-8 medium-up-{{ columns_desktop }} pagination--{{ pagination_type }}">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                            {%- when 'collage_products' -%}
                            {% assign collage_product = block.settings.product %}
                            {% assign section_image = block.settings.custom_image %}
                            {%- for product in collage_product -%}
                                <li class="column">
                                    {%- render 'collage-product-card', product_card_product: product, pro_url: product_url, custom_image: section_image -%}
                                </li>
                            {%- endfor -%}
                        {%- endcase -%}
                    {%- endfor -%}
                </ul>            
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
  {
    "name": "Photo Collage",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "select",
            "id": "text_position",
            "label": "Content position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Content alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
		{
	        "type": "header",
	        "content": "Colors"
	    },
		{
            "type": "color",
            "id": "color_bg",
            "label": "Background",
            "default": "transparent"
        },
		{
            "type": "color_background",
            "id": "color_heading",
            "label": "Heading",
            "default": "#1a1c1d"
        },
		{
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#2c2d2e"
        },
		{
            "type": "color",
            "id": "color_links",
            "label": "Links",
            "default": "#2c2d2e"
        },
		{
	        "type": "header",
	        "content": "Spacing"
	    },
        {
            "type": "checkbox",
            "id": "disable_top_spacing",
            "default": false,
            "label": "Remove top spacing"
        },
        {
            "type": "checkbox",
            "id": "disable_bottom_spacing",
            "default": false,
            "label": "Remove bottom spacing"
        }
    ],
    "blocks": [
        {
            "type": "collage_products",
            "name": "Collage Products",
            "settings": [
                {
                    "type": "header",
                    "content": "Product"
                },                
                {
                    "type": "product_list",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "image_picker",
                    "id": "custom_image",
                    "label": "Frame Image"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Photo Collage"
      }
    ]
  }
{% endschema %}
