.editor-layout {
    height: 100%;
    padding-bottom: 0;
    max-height: 100vh;
    overflow: auto;
}
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .editor-layout .layoutContent.safari_only { 
            height: auto;
            overflow: auto;
        }
    }
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .color-wrapper {
     height: auto;
     border: inherit;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .color-wrapper .canvas-color-picker {
     height: auto;
}
.topbar-state-root .nav-right-content .nav-right-icons span{
    display: flex;
    align-items: center;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .color-wrapper .canvas-color-text {
     flex: 1;
     padding: 9px 16px;
     font-size: 15px;
}
.editor-layout .canvas-section-container{
    max-width: unset;
    min-width: unset;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper {
    height: auto;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .text-color-picker {
    height: auto;
}
.editor-layout .canvas-container-content-wrapper .canvas-container{
    min-height: 100%;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .text-color {
    flex: 1;
    padding: 9px 16px;
    font-size: 15px;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper {
    height: auto;
    margin: 0;
    border: inherit;
}
.editor-layout .toolbar-panel-container .toolbar-panel-content .shape-outline-color-wrapper .shape-outline-color-box{
    cursor: pointer;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .shape-fill-color-picker, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .shape-fill-color-picker, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .shape-outline-color-picker, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .shape-outline-color-picker {
     height: auto;
}
 .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .shape-fill-color, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .shape-fill-color, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .shape-outline-color, .editor-layout .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .shape-outline-color {
     flex: 1;
     padding: 9px 10px;
     font-size: 15px;
}
 
.editor-layout input,
.editor-layout select {
    height: auto;
    margin-bottom: unset;
}

.toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-font-family select,
.toolbar-panel-container .toolbar-panel-content .text-font-size .font-size-type,
.toolbar-panel-container .toolbar-panel-content .shapes-toolbar-option .shape-border
{
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1rem center !important;
    background-size: 1em !important;
}
.toolbar-panel-container .toolbar-panel-content .shapes-toolbar-option .shape-border{
    background-position: right 5px center !important;
}
.editor-layout .toolbar-panel-container .color-wrapper .canvas-color-text, 
.editor-layout .toolbar-panel-container .text-color-wrapper .text-color-text,
.editor-layout .toolbar-panel-container .shapes-toolbar-option .shape-outline-color-text,
.editor-layout .toolbar-panel-container .shapes-toolbar-option .shape-fill-color-text{
    border-radius: 4px 0 0 4px !important;
}


.editor-layout .toolbar-panel-container .color-wrapper .canvas-color-text {
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
}

.sidebar-panel-container .upload-sidebar-panel-content .uploaded-image-collection .upload-image-prompt{
    font-size: 20px;
    line-height: 1.4;
}

.editor-layout .toolbar-panel-container .color-wrapper .canvas-color-box ,.editor-layout .toolbar-panel-container .shapes-toolbar .shape-outline-color-wrapper .shape-outline-color-box, .editor-layout .toolbar-panel-container .shapes-toolbar .shape-fill-color-wrapper .shape-fill-color-box{
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #DEE2E6;
    border-left: none;
    cursor: pointer;
}
.editor-layout .toolbar-panel-container .frame-blocks{
    max-width: 100%;
    flex-wrap: wrap;
}
.storefront-preview-container .preview-content-section .preview-description h1{
    color: #4444E1;
}
.storefront-preview-container .preview-content-section .preview-info .preview-info-title{
    font-weight: bold !important;
}
.live-preview--dialog .MuiDialog-container > .MuiPaper-root{
    height: 80%;
}
.live-preview--dialog .MuiDialog-container > .MuiPaper-root .MuiDialogContent-root{
    max-height: unset;
    overflow-y: hidden;
}
.live-preview--dialog .MuiDialog-container > .MuiPaper-root .MuiDialogContent-root .MuiPaper-root.MuiPaper-elevation{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.live-preview--dialog .react-swipeable-view-container > div > div{
    max-height: 50%;
    height: -webkit-fill-available;
}
.live-preview--dialog .react-swipeable-view-container > div > div img{
    object-fit: contain;
}
.image-filter-options-wrapper{
    padding: 13px 0 0 13px;
}
.image-filter-options-wrapper .image-filter-input-wrapper .filter-color-wrapper{
    display: flex;
    width: 100%;
}
.image-filter-input-wrapper .filter-color-wrapper .filter-color-box{
    padding: 9px 12px;
    background-color: #E9ECEF;
    cursor: pointer;
    width: 50px;
}
.image-filter-input-wrapper .filter-color-wrapper .filter-color-box .filter-input-color{
    width: 100%;
    height: 100%;
}
.image-filter-input-wrapper .filter-color-wrapper .filter-color{
    width: 100%;
    border-radius: 4px 0 0 4px;
}
.canvas-section-container .canvas-toolbar-container .menu_dots{
    position: relative;
}
.canvas-section-container .canvas-toolbar-container:has(button){
    padding-bottom: 15px !important;
    width: 100% !important;
}
.canvas-section-container .canvas-toolbar-container{
    padding-bottom: 0;
}
.frames_present::after{
    content: "";
    width: 10px;
    height: 10px;
    color: red;
    position: absolute;
    top: -4px;
    right: -4px;
    border-radius: 50%;
    background: #4444E1;
}
.toolbar-panel-content .image-filter-input-wrapper .image-filter-input .MuiSlider-marked .MuiSlider-mark{
    width: 0;
    height: 0;
}
.sidebar-panel-content .visuals-panel-sidebar-content .visuals-tablist .visuals-tab:active{
    border-color: #4444E1 !important;
}
.toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper,
.toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper,
.toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper,
.toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper,
.toolbar-panel-container .canvas-toolbar-panel-content .background_container,
.toolbar-panel-container .canvas-toolbar-panel-content .background_container .color-wrapper,
.toolbar-panel-container .bottom-canvas-toolbar-panel-content .background_container .color-wrapper,
.toolbar-panel-content .image-filter-options-wrapper .image-filter-input .filter-color-wrapper,
.toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-input-wrapper .image-filter-input .image-filter-input-color-wrapper
{
    border: none;
}

.toolbar-panel-content .image-filter-options-wrapper .image-filter-input .filter-color-wrapper .filter-color-box,
.toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .text-color-box{
    border-radius: 0 4px 4px 0;
    border: 1px solid #D3D3D3;
    border-left: none;
}
.toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .chrome-text-color-picker,
.toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .chrome-shape-outline-color-picker,
.toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .chrome-shape-fill-color-picker,
.toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper .chrome-image-filter-color-picker,
.toolbar-panel-container .canvas-toolbar-panel-content .background_container .chrome-color-picker{
    position: fixed;    
    z-index: 5;    
    width: 60vw !important;
    height: fit-content;
    right: 40px; 
    top: 60%;    
    width: 100vw !important;
    max-width: 200px;
}

.toolbar-panel-container .toolbar-panel-content .image-filter-options-wrapper .image-filter-input-wrapper .filter-color-wrapper .chrome-image-filter-color-picker .flexbox-fix input{
    background-color: #fff;
}


.editor-layout .toolbar-panel-content .upload-toolbar .toolbar-panel-button.filtersOpen{
    background: #4444E1;
    color: #FFFFFF;
}
@media (max-width: 540px){
    .editor-layout .sidebar-panel-container{
        padding: 10px 24px !important;
    }
    .editor-layout .sidebar-panel-container .initial-sidebar-panel-text{
        font-size: 12px;
    }
    .editor-layout .canvas-section-container{
        height: 58vh !important;
    }
    .editor-layout .canvas-footer-container{
        max-width: 100vw;
    }
    .editor-layout .editor-sidebar-container{
        justify-content: flex-start !important;
    }
    .toolbar-panel-container .upload-toolbar-panel .upload-toolbar button{
        font-size: 13px;
    }
}
@media(min-width: 1024px) {
    .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .chrome-text-color-picker,
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .chrome-shape-outline-color-picker,
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .chrome-shape-fill-color-picker,
    .toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper .chrome-image-filter-color-picker,
    .toolbar-panel-container .canvas-toolbar-panel-content .background_container .chrome-color-picker{
        position: absolute;
        right: 0px;
        top: 100%;
    }
    .toolbar-panel-container .toolbar-panel-content{
        max-height: 88vh;
    }
    .editor-layout .canvas-section-container .canvas-container-wrapper{
        max-height: 88vh;
        overflow: auto;
    }
    .editor-dialog .preview-navtoolbar .nav-info-icon {
        display: none;
    }
    .editor-layout .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1em;
    }
    .cropper-button-group button{
        padding: 10px 16px;
        height: 38px;
        min-width: inherit;
    }
    .editor-layout .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options .image-filter-wrapper .image-filter{
        height: 100%;
    }
    .editor-layout .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options .image-filter-wrapper .image-filter-type{
        text-align: center;
    }

    .nav-toolbar .next-frame-btn, .nav-toolbar .preview-btn, .editor-layout .sidebar-panel-container .initial-sidebar-panel-text,
    .editor-layout .editor-sidebar-container .sidebar-menu-item-container .menu-icon-text,
    .editor-layout .editor-sidebar-container .sidebar-menu-item-container .active-menu-icon-text {
        font-size: 14px;
    }
    .editor-layout .editor-sidebar-container{
        max-width: 98px;
    }
    .nav-toolbar #nav-title-text{
        white-space: nowrap;
        max-width: 70vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 1680px){
    .editor-layout .editor-sidebar-container{
        max-width: 120px;
    }
}

@media(max-width: 1023px) {
    .editor-layout .sidebar-panel-container .sidebar-panel-content .visuals-panel-sidebar-content .visuals-heading-wrapper{
        padding-bottom: 12px !important;
    }
    .editor-dialog .nav-toolbar .nav-info-tooltip .nav-info {
        width: 100px;
    }
    .editor-layout .canvas-section-container .canvas-container-content {
        margin: auto;
        overflow:scroll;
        -webkit-overflow-scrolling:touch;
        height: 40vh;
    }
    .canvas-container-content-wrapper, .canvas-container-content, .canvas-main-container, .canvas-container{
        width: 100%;
    }
    .canvas-container-wrapper, .canvas-toolbar-container, .canvas-container-content-wrapper, .canvas-container-content{
        margin: 0 auto !important;
    }
    .canvas-container-content-wrapper{
        max-width: 100% !important;
    }
    .editor-layout .editor-sidebar-container {
        column-gap: 28.5px;
        align-items: center;
        justify-content: space-around;
        overflow: auto;
        padding: 13px !important;
        margin-bottom: -5px;
    }
    .canvas-section-container .canvas-toolbar-container:has(.menu_dots){
        padding-bottom: 15px;
    }
    .editor-layout .toolbar-panel-container .frame-blocks button{
        padding: 0.5em 1em;
        min-width: fit-content;
    }
    .editor-layout .editor-sidebar-container .sidebar-menu-item-container .menu-icon-text,
    .editor-layout .editor-sidebar-container .sidebar-menu-item-container .active-menu-icon-text{
        font-size: 12px;
    }
    .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar.chromePicker-active{
        overflow-x: hidden;
    }
    .editor-layout .toolbar-panel-container .text-toolbar-panel .text-toolbar{
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
    .editor-layout .toolbar-panel-container .text-toolbar-panel .text-toolbar input, .editor-layout .toolbar-panel-container .text-toolbar-panel .text-toolbar select{
        min-width: 166px;
        height: 38px;
    }
    /* .editor-layout .sidebar-panel-container{
        padding: 15px 24px;
    } */
    .text-toolbar-panel,
    .shapes-toolbar-panel,
    .upload-toolbar-panel,
    .visuals-toolbar-panel,
    .templates-toolbar-panel{
        /* padding: 14px 0 0 15px !important; */
        padding: unset !important;
    }
    .text-toolbar-panel .text-toolbar{
        padding: 16px 20px 16px 0;
        justify-content: flex-start !important;
    }
    .text-toolbar-panel .text-toolbar .text-font-family{
        margin-top: 0 !important;
    }
    .toolbar-panel-title{
        max-width: 90%;
        padding-bottom: 5px;
        font-size: 16px !important;
    }
    .upload-toolbar-panel .toolbar-panel-title{
        max-width: 100%;
    }
    .text-toolbar .text-alignment, .text-toolbar .text-styles{
        transform: translateY(10%);
    }
    .text-toolbar .text-style-wrapper{
        gap: 14px;
    }
    .toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper .chrome-image-filter-color-picker{
        /* transform: translate(50%, 100%); */
    }
    /* .toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper .chrome-image-filter-color-picker > div:first-child,
    .toolbar-panel-container .canvas-toolbar-panel-content .background_container .chrome-color-picker > div:first-child{
        padding-bottom: 40% !important;
    } */
    .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .chrome-text-color-picker > div:first-child,
    .toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper .chrome-image-filter-color-picker > div:first-child,
    .toolbar-panel-container .canvas-toolbar-panel-content .background_container .chrome-color-picker > div:first-child,
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .chrome-shape-outline-color-picker > div:first-child,
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .chrome-shape-fill-color-picker > div:first-child{
        padding-bottom: 40% !important;
        height: fit-content;
    }
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar:has(.shape-outline-color-box.active),
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar:has(.shape-fill-color-box.active){
        overflow: hidden;
    }
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-outline-color-wrapper .shape-outline-color-box.active,
    .toolbar-panel-container .toolbar-panel-content .shapes-toolbar-panel .shapes-toolbar .shape-fill-color-wrapper .shape-fill-color-box.active{
        border: 1px solid orange;
    }
    .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .chrome-text-color-picker:last-child{
        background: #fff;
    }
    /* shapes container */
    .editor-layout .sidebar-panel-content .shape-icons-container{
        gap: 20px;
        margin-top: 17px;
    }
    .editor-layout .sidebar-panel-content .sidebar-panel-title{
        font-size: 16px;
    }
    .editor-layout .sidebar-panel-content .shapes-sidebar-panel-content .shape-icons-container svg{
        width: 42px;
        height: 42px;
    }
    .editor-layout .toolbar-panel-container .shapes-toolbar-panel .shapes-toolbar{
        flex-direction: row;
        gap: 8px;
        margin: 7px 0;
        overflow-x: auto;
    }
    .editor-layout .toolbar-panel-container .shapes-toolbar-panel .shapes-toolbar input{
        max-width: 125px;
    }
    .editor-layout .toolbar-panel-container .shapes-toolbar-panel .shapes-toolbar select{
        max-width: 94px;
        width: 100% !important;
        height: 100%;
    }
    /* Uploads container */
    .toolbar-panel-container .upload-toolbar-panel .upload-toolbar{
        justify-content: flex-start;
    }
    .toolbar-panel-container .upload-toolbar-panel .upload-toolbar button{
        flex-basis: calc(100%/4 - 24px);
        max-width: fit-content;
        min-width: min-content;
    }
    .toolbar-panel-container .upload-toolbar-panel .image-filter-options-wrapper{
        position: absolute;
        top: -40%;
        left: 0;
        background: #fff;
        /* overflow: auto; */
        /* padding: 40px 0; */
        height: 180px;
        overflow: auto;
        width: 100%;
    }
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options{
        display: flex;
        flex-wrap: nowrap;
        column-gap: 12px;
        row-gap: 15px;
        overflow: auto;
        padding: 20px 0;
    }
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options .image-filter-wrapper img{
        max-width: unset;
        width: 88px;
    }
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options-wrapper .image-filter-input-wrapper{
        padding: 0 20px;
    }
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options-wrapper .image-filter-input-wrapper .filter-options-title{
        display: flex;
    }
    .live-preview--dialog .react-swipeable-view-container > div > div img{
        object-fit: cover;
        height: fit-content;
    }
    .live-preview--dialog .MuiDialog-container > .MuiPaper-root{
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
@media (max-width: 560px){
    .editor-layout .editor-sidebar-container{
        /* justify-content: space-around !important; */
        padding: 12px 20px !important;
    }
}
@media(max-width: 430px) {
    .editor-layout .canvas-section-container .canvas-container-wrapper .canvas-container-content-wrapper {
        min-width: 80%;
        max-width: 90vw;
        min-height: 80%;
        max-height: 90%;
        margin: 0 auto;
    }
    .editor-layout .canvas-section-container .canvas-container-content {
        margin: 0;
    }
}
/* @media (max-width: 390px){
    .canvas-section-container .canvas-container-wrapper .canvas-footer-container {
        width: calc(100% - 45px);
    }
} */

@media(max-width: 430px) {
    .editor-layout .canvas-section-container .canvas-container-wrapper .canvas-container-content-wrapper {        
        margin: 0;
        min-width: 96%;
        height: 100%;
        min-height: 54%;
        max-height: 70%;
    }
    .editor-layout .canvas-section-container .canvas-container-wrapper .canvas-toolbar-container  {
        margin: 0 0 0 8%;
    }
    
}
@media(max-width: 375px) {
    /* .editor-layout .canvas-section-container .canvas-container-wrapper .canvas-main-container {
        margin: 0 auto;
    }   */
    .editor-layout .canvas-section-container .canvas-container-wrapper .canvas-container-content-wrapper {        
        margin: 0 auto;
        /* min-width: 70%;
        max-width: 70%;
        margin-left: 15px; */ 
        min-width: 85%;
        height: 100%;
        min-height: 65%;
        max-height: 65%;
    }
}
@media(max-width: 320px) {
    .editor-layout .canvas-section-container .canvas-container-wrapper .canvas-container-content-wrapper {        
        margin: 0;
        min-width: 66%;
        max-width: 100vw;
        height: 100%;
        min-height: 45%;
        max-height: 45%;
    }
}

/* Editor Responsive */

.toolbar-panel-container .toolbar-panel-title span {
    display: none;
}
.canvas-section-container .canvas-toolbar-container .menu_dots {
    display: none;
}
@media (min-width: 1024px){
    .editor-layout .canvas-toolbar-container{
        width: 100% !important;
    }
    .editor-layout .canvas-container-wrapper{
        max-width: 100% !important;
    }
}
.editor-layout .toolbar-panel-container .toolbar-panel-content .text-toolbar-panel .text-toolbar .text-color-wrapper .text-color{
    padding: 9px;
}
.sidebar-panel-content .close_tab {
    display: none;
}
.editor-layout .editor-sidebar-container{
    overflow: auto;
    width: 10%;
}
.shape-icons-container{
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: flex-start !important;
}
.shape-icons-container span:hover svg{
    border: 3px solid #4444E1;
    border-radius: 11px;
}
.editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block .replace-dropdown ul{
    z-index: 1;
}
.canvas-footer-container .counter-input input{
    border: none !important;
    background-color: transparent;
    width: 44px;
}
.canvas-footer-container .reduce-zoom-counter-btn{
    border-right: none !important;
    background-color: transparent;
    padding: 5px;
}
.canvas-footer-container .increase-zoom-counter-btn{
    border-left: none !important;
    background-color: transparent;
    padding: 5px;
}
.canvas-footer-container > div:first-child{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 8px;
}
@media (max-width: 1200px){
    .editor-layout .editor-sidebar-container {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 12px 0;
        background: #fff;
        justify-content: space-around;
        border-top: 1px solid #ddd;
    }
    .editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block .replace-dropdown ul{
        top: 100%;
    }
    .editor-layout .sidebar-panel-content .upload-sidebar-panel-heading-wrapper, .editor-layout .sidebar-panel-content .visuals-heading-wrapper{
        padding: 0 !important;
        top: -1px !important;
    }
    .visuals-panel-sidebar-content div[role="tabpanel"]{
        max-width: 99%;
        margin: auto;
    }
}

@media (min-width: 1024px){
    .filter-color-wrapper{
        position: relative;
    }
    .toolbar-panel-container .toolbar-panel-content .image-filter-input-wrapper .chrome-image-filter-color-picker{
        /* top: 49%;
        right: 100px; */
        position: absolute;
        top: 100%;
        right: 0;
    }
    .editor-layout .sidebar-panel-container .initial-sidebar-panel-text{
        font-size: 16px;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options .image-filter-wrapper .selected-filter-icon{
        transform: translate(-50%, -50%);
        top: 35%;
        left: 50%;
    }
    .editor-layout{
        height: calc(100% - 118px);
    }
    .editor-layout .sidebar-panel-container .upload-sidebar-panel-content,
    .editor-layout .sidebar-panel-container .visuals-panel-sidebar-content{
        margin-top: 20px;
    }
    .editor-layout .sidebar-panel-container .upload-sidebar-panel-content .uploaded-image-collection .image-wrapper{
        flex-basis: calc(50% - 10px);
    }
    .sidebar-panel-content .visuals-panel-sidebar-content .visuals-tablist .visuals-tab{
        padding: 12px 0 !important;
    }
}
@media (min-width: 1440px){
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options .image-filter-wrapper .selected-filter-icon{
        transform: translate(-50%, -50%);
        top: 40%;
        left: 50%;
    }
}
@media (max-width: 767px){
    .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options .image-filter-wrapper .selected-filter-icon{
        transform: translate(-50%, -50%);
        top: 45%;
        left: 50%;
    }
    .editor-dialog .nav-toolbar .nav-info-tooltip .nav-info{
        width: 200px;
    }
    .editor-dialog .nav-toolbar .nav-info-tooltip .nav-info:before{
        transform: translate(-50px, 0px);
    }
    .editor-layout .canvas-section-container .canvas-toolbar-container{
        left: 0 !important;
    }
    .storefront-preview-container{
        grid-template-rows: 361px 1fr;
        grid-template-columns: unset;
    }
    .storefront-preview-container .preview-template-section{
        height: unset;
    }
    .storefront-preview-container .preview-content-section .preview-description h1{
        font-size: 20px !important;
    }
    .storefront-preview-container .preview-content-section .preview-description p{
        font-size: 16px;
        line-height: 24px;
    }
    .storefront-preview-container .preview-info{
        margin: 40px 0 20px 0;
    }
    .storefront-preview-container .preview-info-variant{
        font-size: 16px;
    }
    .storefront-preview-container .preview-info-price{
        margin-top: 20px;
    }
}
@media (max-width: 540px){
    .editor-layout .sidebar-panel-container {
        bottom: 94px !important;
    }
    .editor-layout .toolbar-panel-container {
        bottom: 93px !important;
    }
    .editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block .replace-dropdown ul{
        padding: 8px 14px !important;
        margin-bottom: 0.3rem;
    }
    .editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block .replace-dropdown ul li{
        margin-bottom: 10px !important;
        font-size: 13px !important;
    }
}
@media (max-width: 1023px) {
    .editor-layout {
        width: 100%;
        height: 100vh;
        background-color: #d6d6d6;
        padding-top:4rem;
    }
    .editor-layout .sidebar-panel-container {
        bottom: 105px;
        background: #fff;
        z-index: 2;
        width: -webkit-fill-available;
        max-width: 100%;
        position: absolute;
        /* padding: 43px 0; */
        max-height: 130px;
        padding: 0 !important;
        /* max-height: 428px; */
        /* max-height: 35vh; */
    }
   .editor-layout .canvas-section-container ::-webkit-scrollbar{
        width: 10px;
        height: 10px;
    }
    .editor-layout .canvas-section-container{
        scrollbar-width: 10px;
    }
    .editor-layout .canvas-container-wrapper{
        max-width: 100vw;
    }
    .editor-layout .sidebar-panel-container .initial-sidebar-panel-text{
        font-size: 12px;
    }
   .editor-layout .sidebar-panel-container:has(.upload-sidebar-panel-content),
   .editor-layout .sidebar-panel-container:has(.visuals-panel-sidebar-content){
         max-height: 300px;
         height: auto;
   }
   .editor-layout .canvas-section-container .canvas-container-content-wrapper .canvas-container-content{
     width: 100%;
   }
    .editor-layout .sidebar-panel-container .sidebar-panel-content {
        row-gap: 10px;
   }
    .editor-layout .sidebar-panel-container .sidebar-panel-content .close_tab {
        display: flex;
        justify-content: flex-end;
   }
    .editor-layout .sidebar-panel-container .sidebar-panel-content .close_tab svg path {
        stroke: #000;
   }
    .editor-layout .sidebar-panel-container .upload-sidebar-panel-content .close_tab {
        margin-bottom: 10px;
   }
    .editor-layout .sidebar-panel-container .text-sidebar-panel-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
   }
    .editor-layout .sidebar-panel-container .sidebar-panel-title{
        /* padding: 16px 0; */
    }
    .editor-layout .sidebar-panel-container .sidebar-panel-content{
        padding: 13px 15px;
    }
    .editor-layout .toolbar-panel-container .toolbar-panel-content > .active{
        padding: 13px 0 13px 15px !important;
    }
    .editor-layout .toolbar-panel-container .toolbar-panel-content > .active .shapes-toolbar{
        padding-right: 20px;
    }
    .editor-layout .toolbar-panel-container .toolbar-panel-content > .active .shapes-toolbar .shapes-toolbar-option{
        row-gap: 0;
    }
    .editor-layout .sidebar-panel-container .visuals-heading-wrapper .sidebar-panel-title{
        padding: 16px 0 10px 0;
    }
    .editor-layout .sidebar-panel-container .visuals-heading-wrapper .search-input-all{
        width: calc(100% - 8px);
        margin-top: 8px;
        height: 36px;
    }
    .editor-layout .sidebar-panel-container .visuals-heading-wrapper .search-input-all::placeholder{
        font-size: 13px;
    }
    .editor-layout .sidebar-panel-container .templates-sidebar-panel-content, .editor-layout .sidebar-panel-container .ai-filters-sidebar-panel-content .sidebar-panel-title, .editor-layout .sidebar-panel-container .visuals-sidebar-panel-content, .editor-layout .sidebar-panel-container .sidebar-panel-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
    .editor-layout .sidebar-panel-container .initial-sidebar-panel-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
   }
    .editor-layout .sidebar-panel-container .shapes-sidebar-panel-content .shape-icons-container {
        justify-content: center;
   }
    .editor-layout .sidebar-panel-container .upload-sidebar-panel-content .uploaded-image-collection {
        max-height: 115px;
        justify-content: flex-start;
   }
    .editor-layout .sidebar-panel-container .search-results-container .search-results-column-one, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-two, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-three {
        flex-basis: calc(100% / 3 - 13px);
   }
    .editor-layout .sidebar-panel-container .search-results-container .search-results-column-one .image-wrapper .column-one-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-two .image-wrapper .column-one-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-three .image-wrapper .column-one-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-one .image-wrapper .column-two-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-two .image-wrapper .column-two-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-three .image-wrapper .column-two-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-one .image-wrapper .column-three-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-two .image-wrapper .column-three-image, .editor-layout .sidebar-panel-container .search-results-container .search-results-column-three .image-wrapper .column-three-image {
        width: 100%;
   }
    .editor-layout .canvas-section-container {
        height: calc(100% - 200px);
        width: 100%;
        max-width: 100%;
   }
   .editor-layout .canvas-section-container .canvas-container-content-wrapper .canvas-container-content{
        height: 100%;
   }
    .editor-layout .canvas-section-container .canvas-main-container {
        flex-direction: column-reverse;
        align-items: flex-start;
   }
    .editor-layout .canvas-section-container .canvas-panel-button:disabled {
        display: none;
   }
    .editor-layout .canvas-section-container .canvas-container-content {
        margin: 0;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container {
        position: relative;
        background-color: #d6d6d6;
        top: 4px;
        left: -1%;
        /* width: 95%; */
        margin: auto;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container .menu_dots {
        display: block;
        border-radius: 4px;
        border: 1px solid var(--primary-color, #4444e1);
        background: #fff;
        padding: 6px;
        line-height: 1;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container .menu_dots svg {
        display: flex;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container .menu-dropdown {
        position: absolute;
        background-color: #fff;
        z-index: 2;
        top: 40px;
        left: 0;
        border-radius: 8px;
        border: 1px solid #ced4da;
        background: #fff;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container .menu-dropdown ul {
        list-style: none;
        padding: 8px 24px;
        margin: 0;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container .menu-dropdown ul .menu-dropdown-heading {
        color: #abb5be;
        font-size: 12px;
        padding: 8px 0;
   }
    .editor-layout .canvas-section-container .canvas-toolbar-container .menu-dropdown ul .menu-dropdown-list-item {
        color: #54595e;
        padding: 8px 0;
   }
   .editor-layout .canvas-section-container .canvas-toolbar-container .menu-dropdown ul .menu-dropdown-list-item.disabled{
        color: #abb5be;
        cursor: not-allowed;
    }
    .editor-layout .toolbar-panel-container {
        position: absolute;
        bottom: 105px;
        width: 100%;
        z-index: 3;
        height: 0;
        transition: height 550ms;
   }
   .editor-layout .toolbar-panel-content .upload-toolbar-panel{
        max-height: 35vh;
   }
    .editor-layout .toolbar-panel-container:has(.upload-toolbar-panel:not(.active)), .editor-layout .toolbar-panel-container:has(.shapes-toolbar-panel:not(.active)), .editor-layout .toolbar-panel-container:has(.text-toolbar-panel:not(.active)) {
        height: 0;
   }
    .editor-layout .toolbar-panel-container .toolbar-panel-title {
        display: flex;
        align-items: center;
   }
    .editor-layout .toolbar-panel-container .toolbar-panel-title span {
        display: block;
        line-height: 1;
   }
    .editor-layout .toolbar-panel-container .toolbar-panel-title span svg {
        display: flex;
        align-items: center;
   }
    .editor-layout .toolbar-panel-container:has(.text-toolbar-panel), .editor-layout .toolbar-panel-container:has(.shapes-toolbar-panel), .editor-layout .toolbar-panel-container:has(.toolbar-panel-content) {
        height: fit-content;
        transition: height 550ms;
        max-height: 130px;
   }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content {
        display: none;
   }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content:has(.frame_container.active), .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content:has(.frame_container.active), .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content:has(.background_container.active), .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content:has(.background_container.active) {
        display: block;
   }
   .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content:has(.frame_container.active){
        overflow: hidden;
    }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .frame_container, .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .background_container, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .background_container {
        display: none;
   }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container.active, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .frame_container.active, .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .background_container.active, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .background_container.active {
        display: block;
   }
   .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content{
        padding: 13px 15px;
    }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container.active .canvas-toolbar-panel-title, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .frame_container.active .canvas-toolbar-panel-title, .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .background_container.active .canvas-toolbar-panel-title, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .background_container.active .canvas-toolbar-panel-title {
        text-align: left !important;
        display: flex;
        justify-content: space-between;
   }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container.active .canvas-toolbar-panel-title svg path, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .frame_container.active .canvas-toolbar-panel-title svg path, .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .background_container.active .canvas-toolbar-panel-title svg path, .editor-layout .toolbar-panel-container .bottom-canvas-toolbar-panel-content .background_container.active .canvas-toolbar-panel-title svg path {
        stroke: #000;
   }
   .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container .canvas-toolbar-panel-title{
        padding-bottom: 0;
    }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container .custom-frame-title{
        margin-bottom: 0.7em;
        padding-bottom: 0;
    }
    .editor-layout .toolbar-panel-container .canvas-toolbar-panel-content .frame_container .frame-blocks{
        flex-wrap: nowrap;
        overflow: auto;
        height: fit-content;
        padding-bottom: 25px;
    }
    .editor-layout .toolbar-panel-container .active-upload-option-btn, .editor-layout .toolbar-panel-container:has(.replace-dropdown) {
        height: 300px;
        transition: height 550ms;
   }
    .editor-layout .toolbar-panel-container .upload-toolbar {
        position: unset !important;
        margin-bottom: 0 !important;
   }
    .editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block {
        position: relative;
   }
    .editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block .replace-dropdown {
        position: absolute;
        left: 167%;
        bottom: 90% !important;
        top: unset !important;
   }
    .editor-layout .toolbar-panel-container .upload-toolbar .replace_dropdown_block .replace-dropdown ul {
        white-space: pre;
        position: fixed;
        bottom: 28%;
        right: 40%;
        top: unset;
        transform: translate(50%, 50%);
   }
    .editor-layout:has(.upload-toolbar-panel.active) .sidebar-panel-container {
        height: 0;
        transition: height 550ms;
   }
   .editor-layout .sidebar-panel-container{
        padding: 32px 24px;
   }
   .editor-layout .sidebar-panel-container > div:not([class='initial-sidebar-panel-content']), .editor-layout .sidebar-panel-container .sidebar-panel-content > :not(div){
        padding: 0 !important;
   }
   .editor-layout .sidebar-panel-container .sidebar-panel-content > :has(div){
        padding: 13px 15px;
   }
   .editor-layout .sidebar-panel-container .text-sidebar-panel-content,
   .editor-layout .sidebar-panel-container .shapes-sidebar-panel-content,
   .editor-layout .sidebar-panel-container .upload-sidebar-panel-content,
   .editor-layout .sidebar-panel-container .visuals-sidebar-panel-content,
   .editor-layout .sidebar-panel-container .templates-sidebar-panel-content,
   .editor-layout .sidebar-panel-container .ai-filters-sidebar-panel-content{
        padding: 13px 15px;
   }
   .preview-info-options .preview-options{
        flex-direction: row !important;
        width: 100% !important;
        gap: 8px;
   }
   .preview-info-options .preview-options button{
        min-width: unset !important;
        flex-basis: 50% !important; 
        width: 100% !important;
   }
   .storefront-preview-container .preview-content-section .preview-description h1{
        font-size: 30px;
   }
   .canvas-section-container .canvas-container-wrapper .canvas-footer-container .resize-canvas-icon{
        margin-right: 0px;
   }
}

.editor-layout .toolbar-panel-container .toolbar-panel-content .upload-toolbar-panel .image-filter-options-wrapper{
    padding: 13px 0 0 0;
}

.editor-layout .sidebar-panel-container .sidebar-panel-content .visuals-panel-sidebar-content .visuals-heading-wrapper .css-pc1mzd .css-1q0ig8p{
    width: auto;
}
.editor-layout .sidebar-panel-container .sidebar-panel-content .visuals-panel-sidebar-content .visuals-heading-wrapper .css-pc1mzd .css-12qnib .css-1q2h7u5{
    min-width: inherit;
    padding: 12px 8px !important;   
}
.editor-layout .sidebar-panel-container .sidebar-panel-content .visuals-panel-sidebar-content .visuals-heading-wrapper{
    padding-bottom: 20px;
}
.editor-layout .sidebar-panel-container .sidebar-panel-content .visuals-panel-sidebar-content .tab-content-container{
    padding: 0;
}