/* Dashboard */
.dashboard_wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.dashboard{
    flex-basis: 25%;
    max-height: 25rem;
    min-width: 19.063rem;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
}
.dashboard .dashboard_list{
    list-style: none;
    position: relative;
    height: 100%;
    margin: 20px 9px;
}
.dashboard_tabs{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.dashboard_tabs a{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 13px;
    width: 100%;
}
.dashboard_tabs a:hover{
    color: #000;
}
.dashboard_tabs.active, .dashboard_tabs.active a{
    background: #4444E1;
    border-radius: 12px;
    color: #fff;
}
.dashboard_tabs.active svg path{
    stroke: #fff;
}
.dashboard_tabs.logout{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0;
}
.dashboard_tabs.logout a{
    padding: 23px 0;
    margin: 0 13px;
    width: 100%;
    border-top: 1px solid #E4E4E4;
    display: flex;
    gap: 8px;
}

/* Content */
.dashboard_content{
    border-radius: 12px 12px 0 0;
    flex-basis: 100%;
    min-height: 25rem;
}
.dashboard_tabs_content{
    display: none;
}
.dashboard_tabs_content.showTab{
    display: block;
    margin-bottom: 60px;
    /* height: 100%; */
}
.dashboard_tabs_content .tab_title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 22px 32px 18px;
    background: #4444E1;
    color: #fff;
    margin-bottom: 0;
    border-radius: 12px 12px 0 0;
}
.dashboard_tabs_content .order_details_content,.dashboard_tabs_content .artist_directory_content{
    background: #fff;
    padding: 22px 32px;
    min-height: 25rem;
    border-radius: 0 0 12px 12px;
}

/* Addresses */
.customer-addresses{
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    padding-top: 23px;
    width: 100%;
}
.customer-addresses .address {
    background: #fff;
    border-radius: 12px;
    padding: 22px 15px;
    flex-basis: calc(100% / 3 - 21px);
    min-height: 19.438rem;
}
.customer-addresses .my-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.my-address .my_address_index{
    border-bottom: 1px solid #E4E4E4;
    padding: 0 18px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.my-address .my_address_index .address-index{
    font-size: 16px
}
address{
    padding: 18px 15px;
    font-style: normal;
}
address p{
    font-size: 16px;
}
.address_button_block{
    display: flex;
    gap: 16px;
    padding: 0 15px;
}
body.open-cc{
    overflow: hidden;
}
.edit-address .button,
#Side-Panel-Add-Address .button{
    margin-top: 20px;
}
.edit-address-button, .delete-address-button{
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid #CBD0D4;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.add-address{
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.add-address button{
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #4444E1;
}
.address-default{
    position: absolute;
    right: 0;
    padding: 5px 16px;
    text-transform: capitalize;
    background: #4444E1;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/* Order details */
.order_details_content.mobile{
    display: none;
}
.order_details_content.desktop{
    display: block;
}
.order_details_content th{
    font-size: 16px;
    font-weight: 600;
}
.order_details_content td{
    font-size: 16px;
    font-weight: 400;
}
.order_details_content.desktop td:first-child a{
    text-decoration: none;
}


.order_details .myaccount-content, .billing_shipping_address .billing_address, .billing_shipping_address .shipping_address{
    background: #fff;
}
.order_details_container{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.order_details_container .myaccount-sidebar{
    padding-left: 0;
    flex-basis: 35%;
}
.order_details_container .myaccount-content{
    height: fit-content;
    padding: 13px 23px;
    border-radius: 12px;
    flex-basis: 65%;
}
.order_details_container .myaccount-content table{
    margin: 30px 0;
}
.order_details_container .myaccount-content table tbody tr:last-child{
    border-bottom: 0;
}
.order_details_container .myaccount-content p{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 17px;
    margin-bottom: 0;
}
.order_details_container .myaccount-content .no-borders th{
    font-size: 16px;
    font-weight: 600;
}
.billing_shipping_address{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.billing_shipping_address .myaccount-sidebar--address{
    margin: 0;
}
.billing_shipping_address .myaccount-sidebar--address h4{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #E4E4E4;
    padding: 0 15px;
}
.billing_shipping_address .myaccount-sidebar--address .payment_status{
    font-size: 16px;
    padding: 0 15px;
}
.billing_shipping_address .myaccount-sidebar--address .payment_status strong{
    font-weight: 600;
}
.billing_shipping_address .myaccount-sidebar--address address{
    margin-bottom: 0;
    padding: 0 15px;
}
.billing_address, .shipping_address{
    padding: 23px 13px;
    border-radius: 12px;
}

/* Artist Dashboard */
.artist_directory_content .earnings thead th{
    font-size: 20px;
    font-weight: 600;
    text-align: left !important;
}
.artist_directory_content .earnings tbody tr td{
    text-align: left !important;
}
.artist_directory_content .earning_header{
    display: flex;
    justify-content: space-between;
}
.artist_directory_content .earning_header .sortDropdown{
    text-align: end;
    position: relative;
}
.artist_directory_content .earning_header .sortDropdown #dropdownBtnSort{
    display: flex;
    gap: 4px;
    border: 1px solid #BABFC3;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    align-items: center;
}
.artist_directory_content .earning_header .sortDropdown .dropdownSortOptions{
    display: flex;
    gap: 16px;
    flex-direction: column;
    position: absolute;
    min-width: 152px;
    padding: 16px 21px;
    right: 0;
    text-align: center;
    border-radius: 8px;
    border: 0.5px solid #D7D7D7;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(50, 50, 71, 0.08), 0px 12px 12px 0px rgba(50, 50, 71, 0.08);
}
.artist_directory_content .earning_header p{
    font-size: 20px;
    font-weight: 600;
}
.artist_directory_content .earning_header .sortDropdown .dropdownSortOptions .sortOption{
    color: #6D7175;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}
.artist_directory_content .earning_header .sortDropdown .dropdownSortOptions .sortOption[selected]{
    color: blue;
    text-decoration: underline;
}
.artist_directory_content .earning_details {
    position: relative;
}
.artist_directory_content .earning_details .sortDropdown .dropdownSortOptions.activeFilter{
    visibility: visible !important;
    height: fit-content;
}
.artist_dashboard_table td, .artist_dashboard_table th{
    /* border: 0; */
    padding: 18px;
}
.artist_dashboard_table th{
    font-size: 16px;
    font-weight: 600;
}
.artist_dashboard_table td{
    font-size: 16px;
    font-weight: 400;
}
.artist_dashboard_data td:first-child{
    display: flex;
}
.artist_dashboard_table td img{
    width: 49px;
    height: 49px;
    border-radius: 4px;
    margin-right: 18px;
}
.artist_dashboard_table td:last-child, .artist_dashboard_table th:last-child{
    text-align: end;
}
.artist_dashboard_header{
    border-bottom: 1px solid var(--color-border, #dadce0);
    border-top: 1px solid var(--color-border, #dadce0);
}
.artist_dashboard_data td{
    border-bottom: 1px solid var(--color-border, #dadce0);
}
@media (min-width: 1024px) and (max-width: 1199px){
    .customer-addresses .address{
        flex-basis: calc(100% / 2 - 21px);
    }
}
@media (max-width: 1023px){
    .account{
        width: 100vw;
        padding: 0;
    }
    .account .columns{
        padding: 0;
    }
    .dashboard_wrapper{
        flex-direction: column;
    }
    .dashboard{
        border-radius: 0;
    }
    .dashboard_list{
        display: flex;
        overflow: auto;
        gap: 8px;
        padding: 20px 9px;
        margin: 0 !important;
        /* justify-content: center; */
    }
    .dashboard_tabs svg{
        display: none;
    }
    .dashboard_tabs{
        white-space: nowrap;
        border-radius: 60px !important;
        background: #ECECEC;
    }

    .dashboard_tabs a {
        padding: 7px 16px;
    }
    .dashboard_tabs, .dashboard_tabs a{
        color: #8F8F8F;
    }
    .dashboard_tabs.logout{
        display: none;
    }
    .dashboard_tabs_content .tab_title{
        padding: 11px 32px 11px;
    }

    /* Addresses */
    .dashboard_tabs_content.showTab{
        padding: 0 15px;
    }
    .customer-addresses{
        justify-content: center;
    }
    .customer-addresses .address{
        flex-basis: 100%;
    }

    /* Order details */
    .order_details_content.mobile{
        display: block;
        padding: 0;
    }
    .order_details_content{
        background: none !important;
    }
    .order_details_content.mobile .no-borders{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        margin: 24px 0 40px 0;
    }
    .order_details_content.mobile .rowgroup{
        background: #fff;
        padding: 0 20px;
        border-radius: 12px;
    }
    .order_details_content.mobile .rowgroup tr td{
        padding-right: 24 0;
    }
    .order_details_content.mobile .rowgroup td{
        white-space: nowrap;
    }
    .order_details_content.mobile .rowgroup tr:last-child, .order_details_content.mobile .no-borders th, .order_details_content.mobile .no-borders td{
        border-bottom: 0 !important;
    }
    .order_details_content.mobile .rowgroup tr{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #C6C6C6;
    }
    .order_details_content.desktop{
        display: none;
    }


    .order_details_container{
        flex-direction: column;
        margin: 32px 0;
    }
    .order_details_container .myaccount-content p{
        border-bottom: 0;
        padding-bottom: 32px;
    }
    .order_details_container .myaccount-content .order-details{
        margin-top: 0;
    }
    .order-details, .order-details tbody{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .order_details .myaccount-content{
        background: none;
        padding: 0;
    }
    .order_details .myaccount-content table tr{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .order_details .myaccount-content tbody tr td:last-child{
        border-bottom: 0 !important;
    }
    .order_details .myaccount-content tbody tr:last-child td{
        border-bottom: 1px solid #C6C6C6;
    }
    .order_details .myaccount-content tbody tr a{
        font-weight: 400 !important;
    }
    .order-details tbody tr, .order-details tfoot{
        background: #fff;
        padding: 0 24px;
        border-radius: 12px;
    }
    .order_details .myaccount-content tfoot tr:first-child{
        height: unset !important;
        border-top: 0;
    }
    .order_details .myaccount-content table tr td:before{
        font-size: 16px;
        font-weight: 600;
        text-transform: unset;
    }
    .order_details .myaccount-content table tr td{
        font-size: 16px;
        font-weight: 400;
    }

    /* Artist dashboard */
    .dashboard_tabs_content .artist_directory_content{
        background: none;
        padding: 22px 0;
    }
    .artist_directory_content .earnings table thead{
        display: none;
    }
    .artist_directory_content .earnings table tbody tr{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .artist_directory_content .earnings table tbody tr td{
        background: #fff;
        display: grid;
        padding: 21px;
        border-radius: 12px;
    }
    .artist_directory_content .earnings table tbody tr td{
        text-align: left;
    }
    .artist_directory_content .earnings table tbody tr td::before{
        content: attr(data-label);
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-transform: capitalize;
        font-weight: 600;
    }
    .artist_dashboard_table thead{
        display: none;
    }
    .artist_dashboard_data{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .artist_dashboard_data td img{
        display: none;
    }
    .artist_dashboard_data tr td{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    .artist_dashboard_data tr:last-child td{
        border-bottom: 1px solid var(--color-border, #dadce0) !important;
    }
    .artist_dashboard_data tr:last-child td:last-child{
        border-bottom: 0 !important;
    }
    .artist_dashboard_data tr td p{
        text-align: end;
        margin-bottom: 0;
    }
    .artist_dashboard_data tr{
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 12px;
    }
    .artist_dashboard_data tr:has(td div) {
        padding: 20px;
    }
    .artist_dashboard_data tr td:last-child{
        border-bottom: 0;
        padding-bottom: 0;
    }
    .artist_dashboard_data tr td:first-child{
        padding-top: 0;
    }
    .artist_dashboard_data td::before{
        content: attr(data-label);
        font-size: 16px;
        font-weight: 600 !important;
        white-space: nowrap;
        margin-right: 20px;
    }
}

.loader-container {
    position: relative;
    min-height: 300px;
}

.loader-container .file_loader {
    top: 50%;
    left: 50%;
}

.earning_details .file_loader {
    top: 100%;
    left: 50%;
}
@media only screen and (max-width: 768px) {
    .earning_details .file_loader {
        top: 130%;
        left: 50%;
    }
}

.file_loader { 
  position: absolute;
  width:35px;
  height:35px;
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color:#4444E1;
  border-bottom-color: #FFFFFF;
  border-left-color: #4444E1;
  border-right-color:#FFFFFF;
  -webkit-animation: file_loader 1s ease-in-out infinite;
  animation: file_loader 1s ease-in-out infinite;
  margin: 0 auto;
}
@keyframes file_loader {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes file_loader {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}